body,html {
	background-color: #fff;
	height: 100%;
}

h1 {
	background-color: #85D1E9;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	height: 6.5em;
	width: 7em;
	padding-left: .5em;
	padding-right: .5em;
	padding-top: 2em;
	color: #fff;
	font-family: Arial, sans-serif;
	margin-bottom : 0em;
	margin-top : 1em;
}

#GDbox {
	margin-top: 2em;;
}

h2 {
	font-size: 4em;
	margin-top: 3em;
	opacity: 0;
}
h3 {
	margin-bottom: 1em;
}

u {
	padding-bottom: .2em;
  	text-decoration:none;
  	border-bottom: .1em solid #D98E01;
}

u:after {
    content: "\00a0\00a0\00a0\00a0";
}

u:before {
    content: "\00a0\00a0\00a0\00a0";
}

p {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.3em;
}

#secondNav {
	display: block;
	background-color: #fff;
	height: 3.5em;
	position: relative;
	bottom: 2em;
}

#secondNav2 {
	display: block;
	background-color: #fff;
	height: 3.5em;
	position: relative;
	bottom: 2em;
}

#WD {
	color: #AAB1BC;
	opacity: .5;
	padding-left: 1em;
	padding-right: 1em;
	font-size: 1.5em;
	line-height: 2.25em;
}

#WD:hover {
	opacity: 1;
	text-decoration: none;
}

#GD:hover {
	opacity: 1;
	text-decoration: none;
}

h1:hover {
	opacity: .8;
}

#GD {
	color: #AAB1BC;
	opacity: .5;
	padding-left: 1em;
	padding-right: 1em;
	font-size: 1.5em;
	line-height: 2.25em;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-brand {
	text-align: center;
}

/*graphicDesign.php CSS & Parallax Effect*/

.parallax { 
    /* The image used */
    background-image: url("../img/BG_1.jpg");
    opacity: .75;

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   }

.parallax2 { 
    /* The image used */
    background-image: url("../img/bg_image1.jpg");
    opacity: .75;

    /* Full height */
    height: 50%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-top: -20px;
   }

#myPhoto {
	margin-top: 1em;
	border-radius: 10em;
	border: solid orange .3em;
}

#titleText {
	font-size: 2em;
	color: #D98E01;
	padding-bottom: .5em;
}

#parallaxTextTitle {
	font-size: 4em;
	color: #D98E01;
	padding-bottom: .5em;
	line-height: 6em;
	text-shadow: 0px 5px 3px #000;
}

#aboutMe {
	background-color: #fff;
}

#myWork {
	background-color: #fff;
}

.photo {
    text-align: center; /*for centering images inside*/
    padding-left: 1.5em;
    padding-right: 1.5em;
}
.photo img {
    /*width: 100%;*/ /*set the width or max-width*/
    height: auto; /*this makes sure to maintain the aspect ratio*/
}

#salmaHayek {
	padding-left: 0em;
	padding-right: 0em;
}

#target1 {
	
	max-width: 100%;
	height: 100%;
	background-color: red;
}








