body,html {
	background-color: #fff;
	height: 100%;
}

.logoutQuest {
	padding-left: 3%;
	padding-right: 3%;
	line-height: 1.25em;
}

#socialIcons {
	padding-bottom: .5em;
}

.logo {
	padding-top: 14%;
	padding-left: 20%;
}

#registerQuote {
	padding-top: 2%;
}

#mainNav1 {
	background-color: #1D1E19;
	padding-bottom: 1em;
	padding-top: 1em;
}

h1 {
	background-color: #D98E01;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	height: 6.5em;
	width: 7em;
	padding-left: .5em;
	padding-right: .5em;
	padding-top: 2em;
	color: #fff;
	font-family: Arial, sans-serif;
	margin-bottom : 0em;
	margin-top : 1em;
	display: none;
	border-radius: 50%;
}

a:hover{
	text-decoration: none;
}

.active1 {
    background-color: #C9CBD8;
    padding-top: 1em;
    padding-bottom: 1.1em;
}

#GDbox {
	margin-top: 1.25em;;
}

h2 {
	font-size: 4em;
	margin-top: 3em;
	opacity: 0;
}
h3 {
	padding-bottom: 5%;

}

u {
	padding-bottom: .2em;
  	text-decoration:none;
  	border-bottom: .1em solid #D98E01;
}

input {
	margin-right: 2em;
	margin-left: 2em;
}

u:after {
    content: "\00a0\00a0\00a0\00a0";
}

u:before {
    content: "\00a0\00a0\00a0\00a0";
}

p {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.3em;
	padding-bottom: 1em;
}

#GDpara {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.3em;
	padding-bottom: 1em;
	padding-top: 0%;
}

#secondNav {
	display: block;
	background-color: #fff;
	height: 3.5em;
	position: relative;
	bottom: 2em;
}

#secondNav2 {
	display: block;
	background-color: #fff;
	height: 2em;
	position: relative;
}

#secondNav2 a {
	line-height: 1.25em;
} 

#WD {
	color: #000;
	opacity: .5;
	padding-left: 1em;
	padding-right: 1em;
	font-size: 1.5em;
	line-height: 2.25em;
}

#WD:hover {
	opacity: 1;
	text-decoration: none;
	border-bottom: none
}

#GD:hover {
	opacity: 1;
	text-decoration: none;
}

h1:hover {
	opacity: .8;
}

nav {
	padding-bottom: 0em;
	
}

#GD {
	color: #000;
	opacity: .5;
	padding-left: 1em;
	padding-right: 1em;
	font-size: 1.5em;
	line-height: 2.25em;
}

.navbar .navbar-nav {
    display: inline-block;
    float: right;  
}

.navbar .navbar-nav li a {
    line-height: 3.5em;
    font-size: 1.25em;
    padding-bottom: .5em;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-brand {
	text-align: center;
	padding-left: 2em;
}

/*graphicDesign.php CSS & Parallax Effect*/

.parallax { 
    /* The image used */
    background-image: url("../img/BG_1.jpg");
    opacity: .75;

    /* Full height */
    /*height: 61.5%; */
    height: 90%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   }

.parallax2 { 
    /* The image used */
    background-image: url("../img/bg_image1.jpg");
    opacity: .75;

    /* Full height */
    height: 50%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-top: -20px;
   }

.parallax3 { 
    /* The image used */
    background-image: url("../img/bg_image2.jpg");
    opacity: .75;

    /* Full height */
    height: 50%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-top: 27%;
   }

.parallax3WD { 
    /* The image used */
    background-image: url("../img/bg_image2.jpg");
    opacity: .75;

    /* Full height */
    height: 50%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-top: 0%;
   }

#myPhoto {
	margin-top: 1em;
	border-radius: 10em;
	border: solid orange .3em;
}

#titleText {
	font-size: 2em;
	color: #D98E01;
	padding-bottom: .5em;
}

#parallaxTextTitle {
	font-size: 4em;
	color: #D98E01;
	padding-bottom: .5em;
	padding-top: 3.5em;
	text-shadow: 0px 5px 3px #000;
}

#parallaxTextTitle2 {
	font-size: 4em;
	color: #D98E01;
	padding-bottom: .5em;
	padding-top: 2.5em;
	text-shadow: 0px 5px 3px #000;
}

#aboutMe {
	background-color: #fff;
}

#myWork {
	background-color: #fff;
}

.photo {
    text-align: center; /*for centering images inside*/
    padding-left: 1.5em;
    padding-right: 1.5em;
}
.photo img {
    height: auto; /*this makes sure to maintain the aspect ratio*/
}

form {
	margin-right: 10%;
	margin-left: 10%;
	padding-top: 2em;
	padding-bottom: 2em;
}

#button{
	background-color: #D98E01;
	color: #fff;
	border: none;
	font-size: 1.5em;
	padding-right: 2%;
	padding-left: 2%;
	padding-top: 1%;
	padding-bottom: 1%;

}

#workImages {
	padding-bottom: 2em;
}

.lime {
	padding-left: 25%;
}

#salma {
	padding-left: 25%;
}

@media only screen and (max-width: 1182px) {
.lime {
	padding-left: 25%;
}

#salma {
	padding-left: 40%;
}

}


#message {
	height: 10em;
	margin-left: 2em;
}

#GDmessage {
	height: 10em;
	
}

label {
	font-size: 1.25em;
}

/* FADE IN WHEN SCROLLNG EFFEC*/
	.star {
        visibility: hidden;
    }

    .fadeIn {
        -webkit-animation: animat_show 0.8s;
        animation: animat_show 0.8s;
        visibility: visible !important;
    }

    @-webkit-keyframes animat_show{
        0%{opacity:0}
        100%{opacity:1}
    }

/* Fixed Back to Top Button*/

.back-to-top { 
background: none; 
margin: 0; 
margin-bottom: 3em;
margin-right: 3em;
position: fixed; 
bottom: 0; 
right: 0; 
width: 70px; 
height: 70px; 
z-index: 100; 
display: none; 
text-decoration: none; 
color: #D98E01; 

}
  
.back-to-top i {
  font-size: 5em;
}

/*Form*/

#loginForm2 {
	background-color: #D98E01;
	width: 30%;
	margin-left: 35%;
	margin-top: 6%;
	padding-top: 5em;
	padding-bottom: 5em;
	border-radius: .5em;
	box-shadow: 0px 5px 3px #583900;
}

#deleteForm {
	background-color: #D98E01;
	width: 30%;
	margin-top: 6%;
	margin-left: 35%;
	padding-top: 1em;
	padding-bottom: 1em;
	border-radius: .5em;
	box-shadow: 0px 5px 3px #583900;
}

#updateForm {
	background-color: #D98E01;
	width: 30%;
	margin-left: 35%;
	margin-top: 4%;
	padding-top: 2em;
	padding-bottom: 2em;
	padding-right: 2em;
	border-radius: .5em;
	box-shadow: 0px 5px 3px #583900;
}

#registerForm {
	background-color: #D98E01;
	width: 30%;
	margin-top: 5%;
	padding-top: 3em;
	padding-bottom: 3em;
	margin-left: 35%;
	margin-top: 6%;
	border-radius: .5em;
	box-shadow: 0px 5px 3px #583900;
}

#password {
	margin-left: -2em;
	border-radius: .2em;
	border: none;
	padding: 1%;
}

#password2 {
	margin-right: 1.5em;
	color: #583900;
	font-size: 2em;
}

#username {
	margin-left: -2em;
	border-radius: .2em;
	border: none;
	padding: 1%;
}

#username2 {
	margin-right: 1.3em;
	color: #583900;
	font-size: 2em;
}

#submit_delete {
	margin-right: 2.5em;
	background-color: #fff;
	border: none;
	border-radius: .2em;
	color: #D98E01;
	font-size: 1.3em;
	margin-top: 5%;
}
#submit_delete:hover {
	background-color: #583900;
	color: #FFF7CD;	
}

#submit2 {
	margin-right: 2em;
	background-color: #fff;
	border: none;
	border-radius: .2em;
	color: #D98E01;
	font-size: 1.3em;
	margin-top: 5%;
}

#submit2:hover {
	background-color: #583900;
	color: #FFF7CD;	
}
@media only screen and (max-width: 1026px) {
	#registerForm {
		width: 40%;
		margin-left: 30%;
	}
	#loginForm2 {
		width: 40%
		margin-left: 30%;
	}
}
#registerBtn {
	margin-right: 2em;
	background-color: #fff;
	border: none;
	border-radius: .2em;
	color: #D98E01;
	font-size: 1.3em;
	margin-top: 6%;
}

#registerBtn:hover {
	background-color: #583900;
	color: #FFF7CD;	
}

#loginBG {
	background-color: #fff;
}

ul {
	list-style-type: none;
}

#name2 {
	margin-left: -2em;
}
/* PHP Alert CSS */
.alert {
	color: red;
}

#WDform {
	margin-left: 8%;
}

/* Responsive Media Queries CSS */
@media only screen and (max-width: 1096px) {
#salma {
	padding-left: 44%;
}

}

@media only screen and (max-width: 991px) {
.lime {
	padding-left: 0%;
}

#salma {
	padding-left: 0%;
	padding-bottom: 3.5%;
}

#deleteForm {
	width: 40%;
	margin-left: 30%;
}

#updateForm {
	width: 50%;
	margin-left: 25%;
}

}

@media only screen and (max-width: 767px) {
#registerForm {
		width: 50%;
		margin-left: 25%;
}

#loginForm2 {
		width: 50%;
		margin-left: 25%;
}

#updateForm {

}

.navbar .navbar-nav {
    display: inline-block;
    float: none;  
}

.lime {
	padding-left: 0%;
}

#salma {
	padding-left: 0%;
	padding-bottom: 10%;
	width: 30%;
}

.logo {
    display: none;
}

#button{
	background-color: #D98E01;
	color: #fff;
	border: none;
	font-size: 1.5em;
	padding: 2%;
	margin-left: 5%;

}
#WD {
	font-size: 1.3em;
	padding-top: 1.2em;
	padding-bottom: 1.4em;
}

#GD {
	font-size: 1.3em;
	padding-top: 1.2em;
	padding-bottom: 1.4em;
}

#secondNav2 a {
	line-height: 1.5em;
}

.GDpara {
	text-align: center;
}

.back-to-top {
	opacity: .7;
}

.back-to-top:hover {
	opacity: 1;
}

.photo img {
	width: 50%;
}

#WDform {
	margin-right: 20%;
	margin-left: 15%;
}

#parallaxTextTitle {
	padding-left: 5%;
	padding-right: 5%;
}

}

@media only screen and (max-width: 604px) {
	#deleteForm {
		width: 60%;
		margin-left: 20%;
		margin-top: 10%;
	}
}

@media only screen and (max-width: 489px) {
#registerForm {
	width: 65%;
	margin-left: 17%;
	margin-top: 15%;
}

#loginForm2 {
		width: 70%;
		margin-left: 15%;
		margin-top: 15%;
}

@media only screen and (max-width: 417px) {
#registerForm {
	width: 80%;
	margin-left: 10%;
}
#deleteForm {
	width: 80%;
	margin-left: 10%;
}
#updateForm {
	width: 80%;
	margin-left: 10%;
	margin-top: 10%;
}
#WD {
	font-size: 1.3em;
	padding-top: 1.2em;
	padding-bottom: 1.4em;
}

#GD {
	font-size: 1.3em;
	padding-top: 1.2em;
	padding-bottom: 1.4em;
}

h3 {
	padding-bottom: 5%;
	margin-bottom: 3em;
}

#button{
	background-color: #D98E01;
	color: #fff;
	border: none;
	font-size: 1.5em;
	padding: 2%;
	margin-left: 5%;

}

.photo img {
	width: 100%;
}

#salma {
	width: 50%;
}

}

@media only screen and (max-width: 410px) {
#WD {
	font-size: 1.1em;
	padding-top: 1.7em;
	padding-bottom: 1.5em;
}

#GD {
	font-size: 1.1em;
	padding-top: 1.7em;
	padding-bottom: 1.5em;
}
#secondNav2 a {
	line-height: 2em;
}

#parallaxTextTitle {
	padding-left: 8%;
	padding-top: 60%;
	padding-right: 10%;
	font-size: 3.2em;
}
}

@media only screen and (max-width: 340px) {
#myPhoto {
	width: 200px;
}

#GDpara {
	padding-top: 10%;
}

.back-to-top i {
  font-size: 4em;
}

.back-to-top {
	bottom: 0; 
	padding-left: 15%;
}

#WDform {
	margin-right: 23%;
	margin-left: 15%;
}

#parallaxTextTitle2 {
	padding-right: 3%;
	padding-left: 3%;
	padding-top: 33%;
}

}
